apiVersion: apps/v1
kind: Deployment
metadata:
  name: feedback-app
spec:
  replicas: 3 # Increased to 3 to match your 3-node regional cluster
  selector:
    matchLabels:
      app: feedback
  template:
    metadata:
      labels:
        app: feedback
    spec:
      containers:
      - name: feedback-app
        image: yondebr/feedback-app:V1
        # Added Resource Management
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: feedback-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: feedback